&inputs
    waves_mesh_file = 'wave_base_mesh.nc'
    ocean_mesh_file = 'ocean_culled_mesh.nc'
/
&output
    waves_mesh_culled_vtk = 'wave_mesh_culled.vtk'
    waves_mesh_culled_gmsh = 'wave_mesh_culled.msh'
/
