# config options related to remapping topography to an MPAS-Ocean mesh
[remap_topography]

# the name of the topography file in the bathymetry database
topo_filename = BedMachineAntarctica-v3_GEBCO_2023_ne3000_20250110.nc
src_scrip_filename = ne3000_20250110.scrip.nc

# weight generator function:
#    `tempest` for cubed-sphere bathy or `esmf` for latlon bathy
weight_generator = tempest

# the description to include in metadata
description = Bathymetry is from GEBCO 2023, combined with BedMachine
              Antarctica v3 around Antarctica.

# the target and minimum number of MPI tasks to use in remapping
ntasks = 1280
min_tasks = 256

# remapping method {'bilinear', 'neareststod', 'conserve'}
# must use 'conserve' for tempestremap
method = conserve

# threshold of what fraction of an MPAS cell must contain ocean in order to
# perform renormalization of elevation variables
renorm_threshold = 0.01

# the density of land ice from MALI (kg/m^3)
ice_density = 910.0

# smoothing parameters (no smoothing by default)
expand_dist = 0
expand_factor = 1
