[submodule "MPAS-Model/ocean/develop"]
	path = MPAS-Model/ocean/develop
	url = git@github.com:MPAS-Dev/MPAS-Model.git
[submodule "MPAS-Model/landice/develop"]
	path = MPAS-Model/landice/develop
	url = git@github.com:MPAS-Dev/MPAS-Model.git
