[submodule "E3SM-Project"]
	path = E3SM-Project
	url = git@github.com:E3SM-Project/E3SM.git
[submodule "MALI-Dev"]
	path = MALI-Dev
	url = git@github.com:MALI-Dev/E3SM.git
[submodule "jigsaw-python"]
	path = jigsaw-python
	url = git@github.com:dengwirda/jigsaw-python.git
[submodule "alphaBetaLab"]
	path = alphaBetaLab
	url = git@github.com:xylar/alphaBetaLab.git
