
# The paths section describes paths that are used within the ocean core test
# cases.
[paths]

# A shared root directory where MPAS standalone data can be found
database_root = /compyfs/mpas_standalonedata

# the path to the base conda environment where compass environments have
# been created
compass_envs = /share/apps/E3SM/conda_envs/compass/base


# Options related to deploying a compass conda environment on supported
# machines
[deploy]

# the compiler set to use for system libraries and MPAS builds
compiler = intel

# the system MPI library to use for intel compiler
mpi_intel = impi

# the system MPI library to use for gnu compiler
mpi_gnu = openmpi

# the base path for spack environments used by compass
spack = /share/apps/E3SM/conda_envs/compass/spack

# whether to use the same modules for hdf5, netcdf-c, netcdf-fortran and
# pnetcdf as E3SM (spack modules are used otherwise)
#
# We don't use them on Compy because hdf5 and netcdf were build without MPI
use_e3sm_hdf5_netcdf = False
