# Options related to deploying a compass conda environment on supported
# machines
[deploy]

# the compiler set to use for system libraries and MPAS builds
compiler = clang

# the system MPI library to use for gnu compiler
mpi_gnu = mpich
