
# The paths section describes paths that are used within the ocean core test
# cases.
[paths]

# A shared root directory where MPAS standalone data can be found
database_root = /global/cfs/cdirs/e3sm/mpas_standalonedata

# the path to the base conda environment where compass environments have
# been created
compass_envs = /global/common/software/e3sm/compass/cori-haswell/base


# Options related to deploying a compass conda environment on supported
# machines
[deploy]

# the compiler set to use for system libraries and MPAS builds
compiler = intel

# the system MPI library to use for intel compiler
mpi_intel = mpt

# the system MPI library to use for gnu compiler
mpi_gnu = mpt

# the base path for spack environments used by compass
spack = /global/cfs/cdirs/e3sm/software/compass/cori-haswell/spack

# whether to use the same modules for hdf5, netcdf-c, netcdf-fortran and
# pnetcdf as E3SM (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = True

# the version of ESMF to build if using system compilers and MPI (don't build)
esmf = None


# Config options related to creating a job script
[job]

# The job constraint to use, by default, taken from the first constraint (if
# any) provided for the  machine by mache
constraint = haswell
