
# The parallel section describes options related to running tests in parallel
[parallel]

# parallel system of execution: slurm or single_node
system = single_node

# whether to use mpirun or srun to run the model
parallel_executable = mpirun

# cores per node on the machine
cores_per_node = 4

# the number of multiprocessing or dask threads to use
threads = 4
