# Options related to deploying compass environments on supported machines
[deploy]

# the compiler set to use for system libraries and MPAS builds
compiler = clang

# the system MPI library to use for clang compiler
mpi_clang = mpich
