source {{ conda_base }}/etc/profile.d/conda.sh
conda activate {{ conda_env }}

export NETCDF=$(dirname $(dirname $(which nc-config)))
export NETCDFF=$(dirname $(dirname $(which nf-config)))
export PNETCDF=$(dirname $(dirname $(which pnetcdf-config)))

{{ env_vars }}
export PIO={{ conda_base}}/envs/{{ conda_env }}
export USE_PIO2=true
export HDF5_USE_FILE_LOCKING=FALSE
export LOAD_COMPASS_ENV={{ load_script }}
