<streams>

<immutable_stream name="input"
                  filename_template="{{ HUMBOLDT_INPUT_FILE }}"/>

<immutable_stream name="restart"
                  type="input;output"
                  filename_template="rst.$Y.nc"
                  filename_interval="output_interval"
                  output_interval="0100-00-00_00:00:00"
                  reference_time="2007-01-01_00:00:00"
                  clobber_mode="truncate"
                  precision="double"
                  input_interval="initial_only"/>

<immutable_stream name="ismip6-gis"
                  type="input"
                  mode="forward;analysis"
                  filename_template="{{ HUMBOLDT_FORCING_FILE }}"
                  input_interval="0001-00-00_00:00:00"
                  reference_time="2000-07-01_00:00:00"
                  record_interval="0001-00-00_00:00:00"
                  runtime_format="single_file"/>

<stream name="output"
        type="output"
        filename_template="output.nc"
        output_interval="0000-00-05_00:00:00"
        reference_time="2007-01-01_00:00:00"
        clobber_mode="truncate">

    <stream name="basicmesh"/>
    <var name="xtime"/>
    <var name="thickness"/>
    <var name="daysSinceStart"/>
    <var name="surfaceSpeed"/>
    <var name="basalSpeed"/>
    <var name="lowerSurface"/>
    <var name="upperSurface"/>
    <var name="cellMask"/>
    <var name="basalMeltInput"/>
    <var name="waterThickness"/>
    <var name="waterVelocityCellX"/>
    <var name="waterVelocityCellY"/>
    <var name="hydropotential"/>
    <var name="waterFlux"/>
    <var name="channelArea"/>
    <var name="channelDischarge"/>

</stream>

</streams>
