<streams>

<immutable_stream name="input"
                  filename_template="{{ HUMBOLDT_INPUT_FILE }}"/>

<immutable_stream name="restart"
                  type="input;output"
                  filename_template="rst.$Y.nc"
                  filename_interval="output_interval"
                  output_interval="0100-00-00_00:00:00"
                  reference_time="2007-01-01_00:00:00"
                  clobber_mode="truncate"
                  precision="double"
                  input_interval="initial_only"/>

<immutable_stream name="ismip6-gis"
                  type="input"
                  mode="forward;analysis"
                  filename_template="{{ HUMBOLDT_FORCING_FILE }}"
                  input_interval="0001-00-00_00:00:00"
                  reference_time="2000-07-01_00:00:00"
                  record_interval="0001-00-00_00:00:00"
                  runtime_format="single_file"/>

<stream name="output"
        type="output"
        filename_template="output.nc"
        output_interval="0000-00-01_00:00:00"
        reference_time="2007-01-01_00:00:00"
        clobber_mode="truncate">

    <stream name="basicmesh"/>
    <var name="xtime"/>
    <var name="normalVelocity"/>
    <var name="thickness"/>
    <var name="daysSinceStart"/>
    <var name="surfaceSpeed"/>
    <var name="temperature"/>
    <var name="lowerSurface"/>
    <var name="upperSurface"/>
    <var name="uReconstructX"/>
    <var name="uReconstructY"/>
    <var name="calvingThickness"/>
    <var name="calvingVelocity"/>
    <var name="vonMisesStress"/>
    <var name="cellMask"/>
    <var name="damage"/>
    <var name="faceMeltSpeed"/>
    <var name="faceMeltingThickness"/>

</stream>

<stream name="globalStatsOutput"
        type="output"
        filename_template="globalStats.nc"
        filename_interval="none"
        clobber_mode="overwrite"
        output_interval="0000-00-00_01:00:00"
        reference_time="2007-01-01_00:00:00"
        packages="globalStatsAMPKG"
        runtime_format="single_file">
    <stream name="globalStatsOutput"/>
    <var name="xtime"/>
    <var name="daysSinceStart"/>
    <var name="deltat"/>
    <var name="allowableDtACFL"/>
    <var name="allowableDtDCFL"/>
    <var_struct name="globalStatsAM"/>
</stream>

</streams>
