# input tif files
input_location : './'
vegetation_mask_file : 'vegetation_mask.tif'
vegetation_height_file : 'vegetation_height.tif'
vegetation_density_file : 'vegetation_density.tif'
vegetation_diameter_file : 'vegetation_size.tif'
Delaware_Manning_file : 'manning.tif'
veg_factor : 0.0
manning_factor : 0.0

# input mpas grid file
mpas_grid_file : 'mesh.nc'

bottomDrag_file : 'forcing.nc'

# output
output_file : 'vegetationInfo_Delaware.nc'

# plot and save interpolated data?
figplot : True 

use_mask : True 
