# Options related to deploying a compass conda environment on supported
# machines
[deploy]

# The type of environment to deploy: dev, test_release or release
# This should nearly always be left as "dev".  Only experienced developers
# should deploy a shared environment
env_type = dev

# Recreate the environment if it already exists?
recreate = False

# a suffix on the environment name
suffix =

# the python version
python = 3.12

# the MPI version (nompi, mpich or openmpi)
mpi = nompi

# the version of various packages to include if using spack
albany = compass-2024-03-13
# cmake newer than 3.23.0 needed for Trilinos
cmake = 3.23.0:
esmf = 8.6.1
hdf5 = 1.14.3
lapack = 3.9.1
metis = 5.1.0
moab = master
netcdf_c = 4.9.2
netcdf_fortran = 4.6.1
petsc = 3.19.1
pnetcdf = 1.13.0
scorpio = 1.6.5
# parallelio = 2.6.3
parallelio = None
