# pins for the pixi environment
[pixi]
bootstrap_python = 3.13
python = 3.13
esmf = 8.9.0
geometric_features = 1.6.1
mache = 3.0.4
mpas_tools = 1.3.2
otps = 2021.10
parallelio = 2.6.6

# pins for the spack environment
[spack]
albany = compass-2024-03-13
albany_variants = +mpas~py+unit_tests
# cmake newer than 3.23.0 needed for Trilinos
cmake = 3.23.0:
hdf5 = 1.14.6
metis = 5.1.0
moab = master
scorpio = 1.8.2
trilinos_variants =


# pins for both pixi and spack environments
[all]
netcdf_c = 4.9.2
netcdf_fortran = 4.6.2
pnetcdf = 1.14.0
