# pins for the pixi environment
[pixi]
bootstrap_python = 3.14
python = 3.14
esmf = 8.9.1
geometric_features = 1.6.1
mache = 3.1.0
mpas_tools = 1.4.0
otps = 2021.10
parallelio = 2.6.9

# pins for the spack environment
[spack]
albany = compass-2026-03-10
albany_variants = +mpas~py+unit_tests
# cmake newer than 3.27.0 needed for Trilinos
cmake = 3.27.0:
hdf5 = 1.14.6
metis = 5.1.0
moab = 5.6.0
scorpio = 1.8.2
trilinos = compass-2026-02-06
trilinos_variants =


# pins for both pixi and spack environments
[all]
netcdf_c = 4.10.0
netcdf_fortran = 4.6.2
pnetcdf = 1.14.1
