echo Loading conda environment
source {{ conda_base }}/etc/profile.d/conda.sh
source {{ conda_base }}/etc/profile.d/mamba.sh
mamba activate {{ compass_env }}
echo Done.
echo

{{ update_compass }}

{{ spack }}

{{ env_vars }}
