<streams>

<immutable_stream name="basicmesh"
                  filename_template="not-to-be-used.nc"
                  type="none"/>

<immutable_stream name="input"
                  filename_template="{{ input_file_init_cond }}"
                  input_interval="initial_only"
                  type="input"/>

<immutable_stream name="restart"
                  filename_interval="output_interval"
                  clobber_mode="overwrite"
                  precision="double"
                  output_interval="0001-00-00_00:00:00"
                  reference_time="2000-01-01_00:00:00"
                  filename_template="rst.$Y-$M-$D.nc"
                  input_interval="initial_only"
                  type="input;output"
                  input_interal="initial_only"/>

<stream name="regionsInput"
        type="input"
        mode="forward;analysis"
        filename_template="{{ input_file_region_mask }}"
        input_interval="initial_only"
        runtime_format="single_file">
        <var name="regionCellMasks"/>
</stream>

<stream name="ismip6_smb"
        type="input"
        mode="forward;analysis"
        filename_template="{{ input_file_SMB_forcing }}"
        input_interval="0001-00-00_00:00:00"
        reference_time="2000-01-01_00:00:00"
        runtime_format="single_file">
        <var name="sfcMassBal"/>
</stream>

<stream name="ismip6_TF"
        type="input"
        mode="forward;analysis"
        filename_template="{{ input_file_TF_forcing }}"
        input_interval="0001-00-00_00:00:00"
        reference_time="2000-01-01_00:00:00"
        runtime_format="single_file">
        <var name="ismip6shelfMelt_3dThermalForcing"/>
        <var name="ismip6shelfMelt_zOcean"/>
</stream>

<stream name="ismip6_params"
        type="input"
        mode="forward;analysis"
        filename_template="{{ input_file_melt_params }}"
        input_interval="initial_only"
        runtime_format="single_file">
        <var name="ismip6shelfMelt_deltaT"/>
        <var name="ismip6shelfMelt_basin"/>
        <var name="ismip6shelfMelt_gamma0"/>
</stream>

<stream name="output"
        clobber_mode="overwrite"
        output_interval="0001-00-00_00:00:00"
        reference_time="2000-01-01_00:00:00"
        filename_interval="005-00-00_00:00:00"
        filename_template="output/output_state_$Y.nc"
        type="output">

    <stream name="basicmesh"/>
    <var name="xtime"/>
    <var name="simulationStartTime"/>
    <var name="thickness"/>
    <var name="lowerSurface"/>
    <var name="upperSurface"/>
    <var name="bedTopography"/>
    <var name="uReconstructX"/>
    <var name="uReconstructY"/>
    <var name="surfaceSpeed"/>
    <var name="xvelmean"/>
    <var name="yvelmean"/>
    <var name="basalTemperature"/>
    <var name="surfaceTemperature"/>
    <var name="betaSolve"/>
    <var name="daysSinceStart"/>
    <var name="cellProcID"/>
    <var name="cellMask"/>
    <var name="deltat"/>
    <var name="vonMisesStress"/>
    <var name="damage"/>
</stream>

<stream name="output_flux"
        clobber_mode="overwrite"
        output_interval="0000-00-00_00:00:01"
        reference_time="2000-01-01_00:00:00"
        filename_interval="0001-00-00_00:00:00"
        filename_template="output/output_flux_all_timesteps_$Y.nc"
        type="output">

    <stream name="basicmesh"/>
    <var name="xtime"/>
    <var name="simulationStartTime"/>
    <var name="damage"/>
    <var name="calvingThickness"/>
    <var name="calvingVelocity"/>
    <var name="surfaceSpeed"/>
    <var name="daysSinceStart"/>
    <var name="cellMask"/>
    <var name="sfcMassBalApplied"/>
    <var name="floatingBasalMassBalApplied"/>
    <var name="groundedBasalMassBalApplied"/>
    <var name="deltat"/>
    <var name="fluxAcrossGroundingLineOnCells"/>
    <var name="xvelmean"/>
    <var name="yvelmean"/>
    <var name="thickness"/>
    <var name="dHdt"/>
</stream>

<stream name="globalStatsOutput"
        type="output"
        filename_template="output/globalStats.nc"
        filename_interval="none"
        clobber_mode="overwrite"
        output_interval="0000-00-00_01:00:00"
        reference_time="2000-01-01_00:00:00"
        packages="globalStatsAMPKG"
        runtime_format="single_file">
    <var_struct name="globalStatsAM"/>
    <var name="xtime"/>
    <var name="simulationStartTime"/>
    <var name="daysSinceStart"/>
    <var name="deltat"/>
    <var name="allowableDtACFL"/>
    <var name="allowableDtDCFL"/>
    <var name="albanyVelocityError"/>
</stream>

<stream name="regionalStatsOutput"
        type="output"
        filename_template="output/regionalStats.nc"
        filename_interval="none"
        clobber_mode="overwrite"
        reference_time="2000-01-01_00:00:00"
        output_interval="0000-00-00_01:00:00"
        packages="regionalStatsAMPKG"
        runtime_format="single_file">
    <var name="xtime"/>
    <var name="deltat"/>
    <var name="daysSinceStart"/>
    <var name="simulationStartTime"/>
    <var_struct name="regionalStatsAM"/>
</stream>

</streams>
