&time_config
    itersl = 1
    starttime = 2000
    dt1 = 5

/
&model_resolution
    norder = 512
    nglv = {{ nglv }}

/
&io_directory
    inputfolder_ice = '{{ slm_input_ice }}'
    inputfolder = '{{ slm_input_others }}'
    planetfolder = '{{ slm_input_earth }}'
    gridfolder = '{{ slm_input_others }}'
    outputfolder = 'OUTPUT_SLM/'
    outputfolder_ice = 'ICELOAD_SLM/'
    folder_coupled = ''

/
&file_format
    ext =''
    fType_in = 'text'
    fType_out = 'both'

/
&file_name
    planetmodel   = '{{  slm_earth_structure  }}'
    icemodel      = 'iceGlobalDomain_zeroField_GL{{ nglv }}_'
    icemodel_out  = 'iceload_out_'
    timearray     = 'times'
    topomodel     = 'etopo2_nglv{{ nglv }}_outside_AIS'
    topo_initial  = 'etopo2_nglv{{ nglv }}_outside_AIS'
    grid_lat      = 'GLlat_{{ nglv }}.txt'
    grid_lon      = 'GLlon_{{ nglv }}.txt'

/
&model_config
    checkmarine = .false.
    tpw = .true.
    calcRG = .true.
    input_times = .false.
    initial_topo = .true.
    iceVolume = .true.
    coupling = .true.
    patch_ice = .true.

/
&timewindow_config
    L_sim = 300
    dt1 = 5
    dt2 = 10
    dt3 = 10
    dt4 = 10
    Ldt1 = 300
    Ldt2 = 0
    Ldt3 = 0
    Ldt4 = 0

/
&others
    whichplanet = 'earth'


/

! end of the namelist file
