&smooth
    filename_depth_in    = "topography_culled.nc"
    filename_depth_out   = "topography_orig_and_smooth.nc"
    filename_mpas_mesh   = "mesh.nc"
    distanceLimit        = {{ distance_limit }}
    stdDeviation         = {{ std_deviation }}
    numSmoothingPasses   = {{ num_passes }}
/
