&smooth
    filename_depth_in    = "initial_state.nc"
    filename_depth_out   = "topo_smooth.nc"
    filename_mpas_mesh   = "initial_state.nc"
    distanceLimit        = {{ distance_limit }}
    stdDeviation         = {{ std_deviation }}
    numSmoothingPasses   = {{ num_passes }}
    minLevelForSmoothing = {{ min_level }}
/
